body {
  background-color: #E1E2E8
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DF4D77
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change link color to black on hover */
li a:hover {
  background-color: #DF4D77;
}
p {
  font-family: "Courier New", Courier, sans-serif;
}

.box1 {
  background-color: #CBCCD3;
  padding: 20px;
  margin: 20px;
  width: 500px;
}

.parallax {
  /* The image used */
  background-image: url("flowers1.jpg");
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The second image */
  background-image: url("flowers2.jpg");
  /*height */
  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* 3rd image */
  background-image: url("flowers3.jpg");
  /*height */
  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column {
  float: left;
  width; 25%;
  padding: 10px;
}
.column2 {
  float: right;
  width; 50%;
  padding: 10px;
}
